certifi >= 14.05.14
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
pymediainfo >= 2.1.9
pydub==0.22.1
six==1.11.0
grpcio==1.13.0
protobuf==3.6.0
pytube==9.2.2
m3u8==0.3.6
requests==2.20.0